<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Doctors</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    </head>
    <style>
        *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 
}
.navbar{
   height: 70px;
   color: red;
   
   background-color: rgba(24, 127, 223, 0.733);
}

.list{
    padding: 5px 7px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: lighter;
    border: 1px solid rgb(25, 114, 214);
    border-radius: 5px;
    
}
.list:hover{
    background-color: #2169bb;
    color: white;
    font-weight: bold;
    border:none;
}
li{
    margin-top: 20px;
    display: inline-block;
    list-style: none;
    margin-left: 30px;
    font-weight: lighter;   
}
.logo{
    height: 80px;
    width: auto;
    float: left;
    margin: 10px;
    padding: 5px;
    margin-left: 5%;
}
a{
    text-decoration: none;
    color: red;
}
a:hover{
    background-color: #2169bb;
    color: white;
    font-weight: bold;
    border:none;
}

    </style>
  
    <header>
        <div class="navbar">
            <img src="/views/logo1.png" alt="doctor" class="logo">
            <ul class="navbar-main">
                <li class="list" ><a href="/doctors/doctor/logout"> Log Out </a></li>
                <li class="list" ><a href="#"> Edit </a></li>
            </ul>
        </div>
    </header>
        
    <body>
        <h1>Welcome to articles collection doctor , <%=user.username%></h1>
        <ul>
            <% articles.forEach(function(article){ %>
                <li>
                    <%= article.body %>
                </li><br>
            <% }); %>
        </ul>
    </body>
</html>

